<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date Input Form</title>
</head>
<body>
    <h1>Enter Begin and End Dates</h1>
    <form method="POST" action="">
        <p>
            {{ form.begin_date.label }}<br>
            {{ form.begin_date() }}
        </p>
        <p>
            {{ form.end_date.label }}<br>
            {{ form.end_date() }}
        </p>
		<p>
			{{ form.plants_input.label}}
			{{ form.plants_input() }}
		</p>
        <p>{{ form.submit() }}</p>
    </form>

    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
